.form-box-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
  width:500px;
  max-width:90%;
  padding:40px;
  margin:80px auto;
  border-radius:15px;
  background:white;
  box-shadow:0 6px 15px rgba(0,0,0,0.15);
}

.form-box-container h1{
  text-align:center;
  margin-bottom:20px;
}

.form-box-container form{
  display:flex;
  flex-direction:column;
  gap:20px;
  width:100%;
}

.form-box-container input{
  padding:12px 15px;
  font-size:18px;
  border-radius:8px;
  border:1px solid #181212;
  width:100%;
}

.form-box-container button{
  padding:12px 30px;
  font-size:20px;
  border-radius:8px;
  border:2px solid black;
  background:gold;
  cursor:pointer;
}

.form-box-container button:hover{
  background:#3030E8;
  color:white;
}

.error-message{
  color:red;
}

.response-message{
  font-weight:bold;
}