.preview-image{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
}

.trending-preview{
    width:360px;
    height:220px;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

.preview-image{
    width:360px;
    height:180px;
    object-fit:cover;
    border-radius:10px;
}

.preview-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:30px;
    height:30px;
    padding-top: 3px;
    padding-right: 2px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    background-color: whitesmoke;
    z-index:2;
    font-size:18px;
}
.preview-btn.left{
    left:5px;
}

.preview-btn.right{
    right:5px;
}